# requirements.in
# These are the direct dependencies of the project.

Flask
Flask-SQLAlchemy
Flask-Migrate
flask-cors
Flask-Migrate
gunicorn
requests
psycopg2-binary
openai
python-dotenv
pandas
openpyxl
pdfplumber
beautifulsoup4
textstat
textblob
language-tool-python
apify-client
