# requirements.in
# These are the direct dependencies of the project.

Flask
Flask-SQLAlchemy
flask-cors
gunicorn
requests
psycopg2-binary
openai
python-dotenv
pandas
openpyxl
pdfplumber
beautifulsoup4
textstat
textblob
language-tool-python
